@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal overflow */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Common box-sizing setting */
* {
  box-sizing: border-box;
}

/* Responsive container and elements */
.container,
.navbar,
.content,
.footer {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; /* Adjust padding as needed */
}

/* Glow effects */
.glow {
  transition: all 0.3s ease-in-out;
}
.glow:hover {
  box-shadow: 0 0 25px rgba(206, 71, 193, 0.5);
}
.img_glow {
  box-shadow: 0 0 55px rgba(206, 71, 193, 0.5);
}
.neno-button {
  transition: all 0.3s ease-in-out;
}
.neno-button:hover {
  box-shadow: 0 0 15px rgba(206, 71, 193, 0.5);
}
.b_glow {
  box-shadow: 0 0 15px rgba(206, 71, 193, 0.5);
}

/* Ensure images are responsive */
.responsive-img {
  width: 40px;
  height: 40px;
}

/* Card styles */
.card {
  position: relative;
  width: 100%;
  max-width: 350px; /* Set a max-width for larger screens */
  aspect-ratio: 16/9;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  border: 1px solid rgba(206, 71, 193, 0.5); /* Border color */
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0 15px rgba(206, 71, 193, 0.3); /* Subtle default glow */
}

.card img {
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(206, 71, 193, 0.5); /* Enhanced glow on hover */
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.card:hover img {
  transform: scale(0);
}

.card__description {
  margin: 10px 0 10px;
  font-size: 15px;
  color: #000;
  line-height: 1.4;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px); /* Adjust the bounce height */
  }
}
